{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('images/header.png') }}" alt="">
    </header>


    <div style="height: 1400px">

        <div>
            <p>champion</p>
            <p>compositions</p>
        </div>

        <p> les dernières actus </p>
    </div>

{% endblock %}
