{% extends 'app/base.html.twig' %}

{% block title %}Les actualités{% endblock %}

{% block body %}

<div class="container-page">
    <h1>Les actualités</h1>
    <div class="row">
        <div class="col-sm-6">
            {%  for actu in actualites %}
                <div class="card card-actu">
                    <img class="card-img-top" src="{{ asset('uploads/actualites/illustrations/' ~ actu.illustration) }}" alt=""/>
                    <div class="card-body">
                        <h5 class="card-title">{{ actu.titre }}</h5>
                        <p class="card-text">{{ actu.datePublication | date('d/m/Y')}}</p>
                        <p class="card-text">{{ actu.texte }}</p>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
