{% extends 'app/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('images/header.png') }}" alt="">
    </header>

    <div class="homepage">
        <img src="{{ asset('images/home.png') }}" alt="">
    </div>


{% endblock %}
