{% extends 'app/base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}

    <div class="container-page">
        <div class="compte">
            <h1>Mon compte</h1>
            <p>{{ app.user.pseudo }}</p>
            <p>{{ app.user.email }}</p>
        </div>

    </div>
{% endblock %}
