{% extends 'app/base.html.twig' %}

{% block title %}Les champions{% endblock %}

{% block body %}

    <div class="container-page">
        <h1>Les champions</h1>
        <div class="row mt-5">
            {%  for champ in champions %}
                <div class="col-2 card-center">
                        <div class="card-champ">
                            <img class="card-img-top" src="{{ asset('images/champions/' ~ champ.nom | lower | replace({' ': '_', "'": '-'}) ~ '.png') }}" alt=""/>
                            <div class="card-body">
                                <h5 class="card-title">{{ champ.nom }}</h5>
                                <p class="card-text">
                                    {%  for origine in champ.origines %}
                                        {{ origine.nom }}
                                    {%  endfor %}
                                </p>
                            </div>
                            <div class="champ-objet">
                                {% for objet in champ.stuff %}
                                    <img src="{{ asset('images/objets/' ~ objet.nom | lower | replace({' ': '_', "'": '-', 'é': 'e', 'è': 'e', 'î': 'i', 'œ': 'oe', 'â': 'a'} ) ~ '.png') }}">
                                {%  endfor %}
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
